[submodule "deps/curlpp"]
	path = deps/curlpp
	url = https://github.com/jpbarrette/curlpp.git
	branch = develop
[submodule "deps/jsoncpp"]
	path = deps/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
	tag = 1.9.1
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
	branch = develop
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl.git
	branch = curl-7_65_2
[submodule "build/curlpp"]
	path = build/curlpp
	url = https://github.com/jpbarrette/curlpp.git
